<div *ngIf="questions.length > 0">
  <div class="question">
    <h1>{{ questions[currentQuestionIndex].question }}</h1>

    <ng-container [ngSwitch]="questions[currentQuestionIndex].type">
      <!-- Single Choice: Radio Buttons -->
      <div *ngSwitchCase="'single'">
        <!-- Display radio buttons for single-choice questions -->
        <div *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
          <label>
            <input type="radio"
                   [name]="'question-' + currentQuestionIndex"
                   [value]="i"
                   [(ngModel)]="userAnswers[currentQuestionIndex]"
                   [disabled]="showResult">
            {{ option }}
          </label>
        </div>
      </div>

      <!-- Multiple Choice: Checkboxes -->
<div *ngSwitchCase="'multi'">
  <!-- Display checkboxes for multiple-choice questions -->
  <div *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
    <label [class.selected]="isOptionSelected(option)">
      <input type="checkbox"
             [name]="'question-' + currentQuestionIndex"
             (change)="toggleOption(option)"
             [(ngModel)]="userAnswers[currentQuestionIndex]"
             [disabled]="showResult">
      {{ option }}
    </label>
  </div>
</div>

      <!-- Fill-in: Input -->
      <div *ngSwitchCase="'fill'">
        <!-- Display input field for fill-in questions -->
        <input type="text" [(ngModel)]="userAnswers[currentQuestionIndex]" [disabled]="showResult">
      </div>
    </ng-container>

    <!-- Buttons for navigating between questions -->
     <div class="navigation-buttons">
      <button (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">Previous</button>
      <button (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1">Next</button>
    </div>


  </div>
</div>
<app-score></app-score>
