<div class="question-list">
  <div *ngIf="questions$ | async as questions">
    <div *ngFor="let q of questions" class="question">
      <h1>{{ q.question }}</h1>
      <ul class="answer-list" *ngIf="q.showOptions">
        <li *ngFor="let option of q.options | keyvalue">
          {{ option.key }}: {{ option.value }}
        </li>
      </ul>
      <p *ngIf="q.showAnswer">Correct Answer: {{ q.answer }}</p>
      <div class="button-group">
        <button class="toggle-button" (click)="toggleOptions(q)">Toggle Options</button>
        <button class="toggle-button" (click)="toggleAnswer(q)">Toggle Answer</button>
      </div>
    </div>
  </div>
</div>

